
		</div><!-- .wrap -->

		<!-- S C R I P T S (default) -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="{{ page.root_path }}public/js/plugins.js"></script>
		<script type="text/javascript" src="{{ page.root_path }}public/js/action.js"></script>


		{% if (page.slug == '') %}
			{#   HOMEPAGE settings   #}

			<!-- S C R I P T (random image) -->
			<script type="text/javascript">

				jQuery(document).ready(function($){


				/*	Workaround to have left/right margins on slideshow
				 *  https://github.com/buildinternet/supersized/issues/72
				 *	----------------------------------------------------------------------
				 */
				 	function resize_slideshow(){
				 		var	margin = 10;
				 		$('#supersized').css({ 'left': margin });
						$('#supersized').width( $(window).width() - margin * 2 );
					}
					$(window)
						.resize( function() { resize_slideshow() })
						.trigger('resize');


				/*	SLIDESHOW
				 *  ----------------------------------------------------------------------
				 */
					$.supersized({
						fit_portrait		: 0,
						fit_always			: 1,
						horizontal_center	: 1,
						slide_interval      : 3000,			// Length between transitions
						transition          : 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right,
															// 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
						transition_speed	: 700,			// Speed of transition
						image_protect		: 0,
						random				: 1,
						slides 				:  	[
							{% for image in page.images %}
								{% if image.is_last %}
									{image : '{{image.url}}'}
								{% else %}
									{image : '{{image.url}}'},
								{% endif %}
							{% endfor %}
												]
					});
			    });
			</script>


		{% elseif (page.slug == 'about-and-contact') %}
			{# ABOUT & CONTACT page doesn't have any setting, so do nothing #}


		{% else %}
			{#   CATEGORY settings   #}

			<!-- S C R I P T (slideshow) -->
			<script type="text/javascript" language="javascript">

				jQuery(document).ready(function() {

				/*	Workaround to have left/right margins on slideshow
				 *  https://github.com/buildinternet/supersized/issues/72
				 *	----------------------------------------------------------------------
				 */
				 	function resize_slideshow(margin){
						$('#supersized')
							.width($(window).width() - margin * 2);
					}
					$(window)
						.resize( function() {
					 		var	margin = $('#supersized').css('left'),
					 			margin = parseInt(margin, 10);
							resize_slideshow(margin)
						})
						.trigger('resize');


				/*	Hide slideshow
				 *	----------------------------------------------------------------------
				 */
					$('#supersized img').hide();

				/*	SLIDESHOW
				 *  ----------------------------------------------------------------------
				 *	• call the slideshow based on hashchange
				 *  ----------------------------------------------------------------------
				 */
					function slideshow( slide ) {

						// Grab all of our image urls from the page
						// rewriting them to the full sized images.

						var images = [];
						jQuery('#thumb-list img').each(function() {
					    	if ( $(window).width() <= 767 ) {
								images.push({'image' : $(this).attr('src').replace('_sml','_med') });
					    	} else {
								images.push({'image' : $(this).attr('src').replace('_sml','') });
					    	}
						});

						// Run slideshow plugin
						return $.supersized({
							fit_portrait		: 0,
							fit_always			: 1,
							horizontal_center	: 1,
							// Start from the slected slide
							start_slide		 : slide,
							slide_interval   : 3000,
							transition       : 1,
							// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right,
							// 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
							transition_speed : 300,
							image_protect	 : 0,
							slides			 : images
						});

						base.options.horizontal_center ()
					}

				/*	URL FRAGMENT
				 *  ----------------------------------------------------------------------
				 *	This part of code need A LOT of optimisation please refer to
				 *	http://buildinternet.com/project/supersized/docs.html#api_docs
				 *	to rewrite it
				 *  ---------------------------------------------------------------------- */

					$(window).bind( 'hashchange', function(e) {

					    // Get URL fragment that control the slideshow
					    var hash = $.param.fragment();
					    var slideshow_status = $('#supersized li').length;

					    // dirty quick fix. (Issue: this code is running twice when using back-to-thumb button)
					    // if you've just come to this page
					    // or if you've got back from the slideshow...
					    if ( hash == '' ) {
						    if ( $(window).width() <= 767 ) {
								// Show thumbs and hide the slideshow
							    $('.slide-nav, #supersized, #supersized-loader').fadeOut( 300, function() {
								    // show the header
								    $('header').removeClass('hidden-phone').fadeIn( 300, function() {
								    	$('#thumb-list').fadeIn( 300 );
								    	$('#supersized').empty(); // reset the slideshow to the initial state (see URL FRAGMENT)
								    });
							    });
							}
							// otherwise...
							else {
								// Show thumbs and hide the slideshow
							    $('.slide-nav, #supersized, #supersized-loader').fadeOut( 300, function() {
							    	$('#thumb-list').fadeIn( 300 );
							    	$('#supersized').empty(); // reset the slideshow to the initial state (see URL FRAGMENT)
							    });
							}
					    }

					    // if you click a thumb...
					    else if ( hash !== '' && slideshow_status == 0 ) {
					    	// Hide thumbs and show slideshow navigation
					    	// if it's a phone hide everything
					    	if ( $(window).width() <= 767 ) {
					    		$('header').fadeOut( 300 , function() {
						    		$(this).addClass('hidden-phone').show();
					    		});
						    	$('#thumb-list').fadeOut( 300, function() {
						    		$('#supersized').css({'top': 50});
						    		$('.slide-nav, #supersized, #supersized-loader').fadeIn( 300 ); // #supersized needs to be after $.supersized()
						    		$('#back-to-thumbs').fadeIn( 300 ).css("display","block");
						    		// Create the slideshow
							    	slideshow( hash );
						    	});
					    	}
					    	// otherwise just hide thumbs
					    	else {
					    		$('header').addClass('hidden-phone');
						    	$('#thumb-list').fadeOut( 300, function() {
						    		$('.slide-nav, #supersized, #supersized-loader').fadeIn( 300 ); // #supersized needs to be after $.supersized()
						    		$('#back-to-thumbs').fadeIn( 300 ).css("display","block");
						    		// Create the slideshow
							    	slideshow( hash );
						    	});
					    	}

					    // if you are going back among slides
					    } else {
						    api.goTo(hash);
						    console.log(slideshow_status + ' ' + hash + ' not coming from thumbs');
					    }
					});

					// Trigger the hashchange event when the page loads
					$(window).trigger( 'hashchange' );

				});
			</script>

		{% endif %}

		<!-- S C R I P T (font) -->
		<script type="text/javascript">

			// Webfont crossbrowser script
			WebFontConfig = {custom: { families: ['sans-serif'],
				urls: [ '{{ page.root_path }}public/css/fontface.css' ] }
			};
			(function() {
				var wf = document.createElement('script');
				wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
				wf.type = 'text/javascript';
				wf.async = 'true';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(wf, s);
			})();

		</script>
	</body>
</html>