/*	======================================================================
 *	MEDIA QUERIES -- RESPONSIVE LAYOUT
 *	======================================================================
 *
 ¥	http://www.alessandrobarbieri.net
 *	info@alessandrobarbieri.net
 *
 *	Column widths:
 *	----------------------------------------------------------------------
 *
 *	165px	330px	495px	660px	825px	990px	1175px	1320px	1485px	1650px	1815px	1980px	2145px
 *	1		2		3		4		5		6		7		8		9		10		11		12		13
 *
 */

	.visible-phone {
		display: none !important;
	}
	.visible-tablet {
		display: none !important;
	}
	.hidden-desktop {
		display: none !important;
	}



/*	======================================================================
 *	Landscape phones and down
 *	======================================================================
 */
	@media screen and (max-width: 767px) {

		.visible-phone {
			display: inherit !important;
		}
		.hidden-phone {
			display: none !important;
		}
		.hidden-desktop {
			display: inherit !important;
		}
		.visible-desktop {
			display: none !important;
		}
		#thumb-list {
			width: 330px;
		}
		/***	HEADER	 ***/
		header {
			margin: 8px 0 0;
			.full>* {
				display: block;
				width: 100%;
				margin: 9px auto 0;
			}
			.sub-header {
				margin-top: 4px;
			}
			h2 a:hover{
				background: url('../img/underline.png') repeat-x 0% 90%;
			}
		}
		.menu a{
			cursor: pointer;
		}
		.clearfix {
			&:after {
				height: 12px;
			}
		}

		/***	SLIDESHOW	 ***/
		#supersized {
			left: 10px;
			bottom: 10px;
			top: 90px
		}
		#prevslide{
			height:30px;
			left: 15px;
			top: 8px;
			background:url('../img/back_sml_phone.png');
			margin-top: 0;
		}
		#nextslide{
			height:30px;
			right: 15px;
			top: 8px;
			background:url('../img/forward_sml_phone.png');
			margin-top: 0;
		}
		#back-to-thumbs {
			height:30px;
			margin: 0 auto;
			display: block;
			position: relative;
			top: 8px;
			right: 0;
			background:url('../img/back-to-thumbs_sml_phone.png');
		}

		/***	ABOUT PAGE	 ***/
		#about-page .left {
			float: none;
			width: auto;
		}
		#about-page .right {
			float: none;
			width: auto;
		}
		#about-page h5 {
			display: inline-block;
			padding-bottom: 0;
			background: url('../img/underline.png') repeat-x 0% 100%;
		}
		.justify-txt {
		  text-align: left;
		}

	}


/*	======================================================================
 *	Landscape phone to portrait tablet
 *	======================================================================
 *
 *	Next media-queries are dedicated only to #thumb-list
 *	DON'T ADD ANY STYLE HERE
 *	----------------------------------------------------------------------
 */
	@media screen and (max-width: 495px) {

		#thumb-list {
			width: 310px;
			img {
				width: 145px;
			}
		}
	}
	@media screen and (min-width: 516px) and (max-width: 680px) {

		#thumb-list {
			width: 495px;
		}
	}
	@media screen and (min-width: 681px) and (max-width: 787px) {

		#thumb-list {
			width: 660px;
		}
	}


/*	======================================================================
 *	Portrait tablet to landscape and desktop
 *	======================================================================
 */
	@media screen and (min-width: 788px) and (max-width: 845px) {

		#thumb-list {
			width: 660px;
		}
	}
	@media screen and (min-width: 846px) and (max-width: 999px) {

		#thumb-list {
			width: 825px;
		}
	}
	@media screen and (min-width: 1000px) and (max-width: 1024px) {

		#thumb-list {
			width: 825px;
		}
	}


/*	Use this for any Tablet custom styling
 *	----------------------------------------------------------------------
 */
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		.visible-tablet {
			display: inherit !important;
		}
		.hidden-tablet {
			display: none !important;
		}
		.hidden-desktop {
			display: inherit !important;
		}
		.visible-desktop {
			display: none !important;
		}
		/***	SLIDESHOW	 ***/
		#supersized {
			left: 60px;
		}
		#prevslide{
			left: 15px;
			margin-top: 50px;
			background:url('../img/back_sml.png');
		}
		#nextslide{
			right: 15px;
			margin-top: 50px;
			background:url('../img/forward_sml.png');
		}
		#back-to-thumbs {
			right: 15px;
			background:url('../img/back-to-thumbs_sml.png');
		}
	}


/*	======================================================================
 *	Desktop
 *	======================================================================
 *
 *	Next media-queries are dedicated only to #thumb-list
 *	DON'T ADD ANY STYLE HERE
 *	----------------------------------------------------------------------
 */
	@media screen and (min-width: 1025px) and (max-width: 1174px) {
		#thumb-list {
			width: 825px;
		}
	}
	@media screen and (min-width: 1175px) and (max-width: 1484px) {
		#thumb-list {
			width: 990px;
		}
	}
	@media screen and (min-width: 1485px) and (max-width: 1814px) {
		#thumb-list {
			width: 1320px;
		}
	}
	@media screen and (min-width: 1815px) and (max-width: 2144px) {
		#thumb-list {
			width: 1650px;
		}
	}
	@media screen and (min-width: 2145px) {
		#thumb-list {
			width: 1980px;
		}
	}