/*	======================================================================
 *	MEDIA QUERIES -- RESPONSIVE LAYOUT
 *	======================================================================
 *
 ¥	http://www.alessandrobarbieri.net
 *	info@alessandrobarbieri.net
 *
 *	Column widths:
 *	----------------------------------------------------------------------
 *
 *	165px	330px	495px	660px	825px	990px	1175px	1320px	1485px	1650px	1815px	1980px	2145px
 *	1		2		3		4		5		6		7		8		9		10		11		12		13
 *
 */


/*	======================================================================
 *	Landscape phones and down
 *	======================================================================
 */

@media screen and (max-width: 480px) {

	.visible-phone {display: block}
	.hidden-tablet {display: none}
	.hidden-desktop {display: none}

	#thumb-list {
		width: 330px;
	}
	#prevslide{
		left: 15px;
	}
	#nextslide{
		right: 15px;
	}
	#back-to-thumbs {
		right: 15px;
	}
}



/*	======================================================================
 *	Landscape phone to portrait tablet
 *	======================================================================
 *
 *	Next media-queries are dedicated only to #thumb-list
 *	DON'T ADD ANY STYLE HERE
 *	----------------------------------------------------------------------
 */

@media screen and (max-width: 495px) {

	#thumb-list {
		width: 330px;
	}
}

@media screen and (min-width: 496px) and (max-width: 660px) {

	#thumb-list {
		width: 495px;
	}
}

@media screen and (min-width: 661px) and (max-width: 767px) {

	#thumb-list {
		width: 660px;
	}
}


/*	Use this for any Tablet custom styling
 *	----------------------------------------------------------------------
 */

@media screen and (max-width: 767px) {

	.visible-phone {display: block}
	.visible-tablet {display: block}
	.hidden-desktop {display: none}

	#prevslide{
		left: 25px;
		background:url('../img/back_sml.png');
	}
	#nextslide{
		right: 25px;
		background:url('../img/forward_sml.png');
	}
	#back-to-thumbs {
		right: 10px;
		background:url('../img/back-to-thumbs_sml.png');
	}
}



/*	======================================================================
 *	Portrait tablet to landscape and desktop
 *	======================================================================
 */

@media screen and (min-width: 768px) and (max-width: 825px) {

	#thumb-list {
		width: 660px;
	}
}

@media screen and (min-width: 826px) and (max-width: 979px) {

	#thumb-list {
		max-width: 825px;
	}
}


/*	Use this for any Tablet custom styling
 *	----------------------------------------------------------------------
 */

@media screen and (min-width: 826px) and (max-width: 979px) {

	.visible-tablet {display: block}
	.visible-desktop {display: block}
	.hidden-phone {display: none}

	#thumb-list {
		max-width: 825px;
	}
}



/*	======================================================================
 *	Large desktop
 *	======================================================================
 *
 *	Next media-queries are dedicated only to #thumb-list
 *	DON'T ADD ANY STYLE HERE
 *	----------------------------------------------------------------------
 */

@media screen and (min-width: 979px) and (max-width: 1174px) {
	#thumb-list {
		max-width: 825px;
	}
}
@media screen and (min-width: 1175px) and (max-width: 1484px) {
	#thumb-list {
		max-width: 990px;
	}
}
@media screen and (min-width: 1485px) and (max-width: 1814px) {
	#thumb-list {
		max-width: 1320px;
	}
}
@media screen and (min-width: 1815px) and (max-width: 2144px) {
	#thumb-list {
		max-width: 1650px;
	}
}
@media screen and (min-width: 2145px) {
	#thumb-list {
		max-width: 1980px;
	}
}

/*	Use this for Large Desktop custom styling
 *	----------------------------------------------------------------------
 */

@media screen and (min-width: 979px) {

	.visible-desktop {display: block}
	.hidden-phone {display: none}
	.hidden-tablet {display: none}
}
